<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" packages="org.springframework.amqp.rabbit.log4j2">
    <Properties>
        <Property name="logstash.host">udp:graylog</Property>
        <Property name="logstash.port">12201</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} %M - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <Gelf name="Gelf"
              host="${logstash.host}"
              port="${logstash.port}"
              version="1.1"
              extractStackTrace="true"
              filterStackTrace="false"
              originHost="%host{fqdn}">
            <Field name="application" pattern="gerenciamento-ocorrencia"/>
            <Field name="className" pattern="%C"/>
            <Field name="correlationId" pattern="%X{LogFilter.correlationId}"/>
            <Field name="ip" pattern="%X{LogFilter.ip}"/>
            <Field name="level" pattern="%level"/>
            <Field name="method" pattern="%M"/>
            <Field name="server" pattern="%host"/>
            <Field name="simpleClassName" pattern="%C{1}"/>
            <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}"/>
            <Field name="username" pattern="%X{LogFilter.username}"/>
        </Gelf>
        <RabbitMQ name="rabbitmq-appender"
                  addresses="rabbitmq:5672"
                  user="sespmt"
                  password="sespmt"
                  virtualHost="/"
                  exchange="de.log"
                  applicationId="gerenciamento-ocorrencia"
                  routingKeyPattern="rk.log"
                  contentType="text/plain"
                  contentEncoding="UTF-8"
                  generateId="false"
                  deliveryMode="PERSISTENT"
                  charset="UTF-8"
                  senderPoolSize="5"
                  maxSenderRetries="10">
        </RabbitMQ>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="SpringBoot-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="br.gov.mt.sesp" level="info" additivity="false">
            <AppenderRef ref="App-Appender"/>
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="Gelf"/>
            <AppenderRef ref="rabbitmq-appender" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="Gelf"/>
        </Root>
    </Loggers>
</Configuration>