<app-header></app-header>

<div role="main" class="container pt-5">
    <div class="row align-items-center pt-5">
      <div class="col-lg-6 offset-lg-3">
        <div class="row">
          
       
        <div class="col-4">
          <img src="assets/erro-proibido.png" class="erro403" alt="Placa de erro 403">
        </div>
       <div class="col-8 pl-5">
         <h1>Acesso Negado</h1>
         <p>Lamentamos, mas você não possui permissão para acessar esse recurso</p>
         <button class="btn btn-warning btn-group-lg" (click)="voltarParaHome()">
           Retorne para a página de Login.
         </button>
       </div>
       
      </div>
      </div>
    </div>
</div>
